<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scicalc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="settings-menu" class="settings-menu hidden">
        <h3>Settings</h3>
        <div class="setting">
            <label for="dark-mode-switch">Dark Mode</label>
            <label class="switch">
                <input type="checkbox" id="dark-mode-switch">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="settings-button" onclick="toggleSettingsMenu()">
        <img src="{{ url_for('static', filename='assets/settingsgear.svg') }}" alt="Settings">
    </div>
    <div id="calculator" class="calculator">
        <div id="result" class="display">0</div>
        <div class="buttons">
            <button class="button bg-yellow-500" onclick="appendOperator('^')">^</button>
            <button class="button col-span-2 bg-red-500" onclick="clearDisplay()">C</button>
            <button class="button bg-yellow-500" onclick="deleteLast()">⌫</button>
            <button class="button bg-yellow-500" onclick="deleteLast()">⌫</button>
            <button class="button operator bg-yellow-500" onclick="squareInput()">x²</button>
            <button class="button" onclick="appendCharacter('7')">7</button>
            <button class="button" onclick="appendCharacter('8')">8</button>
            <button class="button" onclick="appendCharacter('9')">9</button>
            <button class="button bg-yellow-500" onclick="appendOperator('/')">/</button>
            <button class="button bg-yellow-500" onclick="appendPi()">π</button>
            <button class="button" onclick="appendCharacter('4')">4</button>
            <button class="button" onclick="appendCharacter('5')">5</button>
            <button class="button" onclick="appendCharacter('6')">6</button>
            <button class="button bg-yellow-500" onclick="appendOperator('+')">+</button>
            <button class="button bg-yellow-500" onclick="appendOperator('√')">√</button>
            <button class="button" onclick="appendCharacter('1')">1</button>
            <button class="button" onclick="appendCharacter('2')">2</button>
            <button class="button" onclick="appendCharacter('3')">3</button>
            <button class="button bg-yellow-500" onclick="appendOperator('-')">-</button>
            <button class="button col-span-2" onclick="appendCharacter('0')">0</button>
            <button class="button" onclick="appendCharacter('.')">.</button>
            <button class="button bg-green-500" onclick="calculate()">=</button>
            <button class="button bg-yellow-500" onclick="appendOperator('*')">*</button>
            <button class="button" onclick="appendParenthesis('(')">(</button>
            <button class="button" onclick="appendParenthesis(')')">)</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='storage.js') }}"></script>
</body>
</html>